@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout-footer {
  background-color: #FEF9F0 !important;
}

.ant-layout {
  background-color: #FEF9F0 !important;
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}


.ant-carousel .slick-dots {
  li button{
    // background: green;
    opacity: 1;
  }
  li.slick-active button{
    background-color: #000;
    opacity: 1;
  }
}




// .ant-carousel {
//   .slick-dots {
//     // bottom: 16px; // 如果你想调整位置可以在这里写
//     li {
//       margin: 0 4px; // 圆点之间的间距

//       // 默认状态下的圆点
//       button {
//         width: 8px;
//         height: 8px;
//         border-radius: 50%;
//         background-color: #d9d9d9;       // 未激活时的颜色
//         opacity: 1;                       // 默认 slick 会给 opacity: .25, 这里重置为 1
//         transition: all 0.3s;

//         &:hover,
//         &:focus {
//           background-color: #1890ff;     // hover/聚焦时的颜色
//         }
//       }

//       // 激活状态下的圆点
//       &.slick-active {
//         button {
//           background-color: #1890ff;     // 激活时的颜色
//         }
//       }
//     }
//   }
// }

